
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode .navbar {
  background-color: #1f1f1f !important;
}

body.dark-mode a,
body.dark-mode .nav-link {
  color: #e0e0e0 !important;
}

body.dark-mode .btn-danger {
  background-color: #3a3a3a;
  border-color: #555;
}

body.dark-mode .btn-danger:hover {
  background-color:  rgb(66, 0, 0);
  border-color: #000000;
}

body.dark-mode .btn-primary {
  background-color: orange;
  border-color: rgb(145, 94, 0);
}

body.dark-mode .btn-primary:hover {
  background-color:  rgb(145, 94, 0);
  border-color: #000000;
}

.red-switch .form-check-input:checked {
  background-color: rgb(0, 0, 80);
  border-color: darkblue;
}
